@{
    ViewBag.Title = "About";
}


<link href="~/Content/css_main.css" rel="stylesheet" />

<link href="~/Content/css_cart.css" rel="stylesheet" />


<br/>
<br/>

<div id="main">
    <div class="inner-wraper">

        <div id="content">
            <section>

                <div id="shipping-container">

                    <div id="dk-cart-prograsbar">
                        <div id="ctl10_Progressbar_pnlSteps">

                            <div class="steps">
                                <div class="rounded_rectangle">

                                    <div class="dashed clearfix">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>

                                    <div class="rounded_rectangle_over step_shipping"></div>

                                    <span id="ctl10_Progressbar_lblBullet_1" class="bullet login green tick">

                                        <span class="spacer first"></span>
                                        <a href="/Cart" id="ctl10_Progressbar_lblTitle_1" class="s_title last green" data-url="/Cart">ورود به دیجی‌کالا</a>
                                        <span class="spacer second"></span>
                                    </span>
                                    <span id="ctl10_Progressbar_lblBullet_2" class="bullet or green">
                                        <span class="spacer first"></span>
                                        <a href="/Shipping" id="ctl10_Progressbar_lblTitle_2" class="s_title green" data-url="/Shipping">اطلاعات ارسال سفارش</a>
                                        <span class="spacer second"></span>
                                    </span>
                                    <span id="ctl10_Progressbar_lblBullet_3" class="bullet pi">
                                        <span class="spacer first"></span>
                                        <a id="ctl10_Progressbar_lblTitle_3" class="s_title" data-url="/Review">بازبینی سفارش</a>
                                        <span class="spacer second"></span>
                                    </span>
                                    <span id="ctl10_Progressbar_lblBullet_4" class="bullet finish">
                                        <span class="spacer first"></span>
                                        <a id="ctl10_Progressbar_lblTitle_4" class="s_title first" data-url="/Payment">اطلاعات پرداخت</a>
                                        <span class="spacer second"></span>
                                    </span>

                                    <div class="dashed gray clearfix">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

</div>